<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.demo.model.mapper.MemberMapper">
	
<!-- 	<resultMap type="MemberDto" id="loginInfo">
		<result column="user_id" property="userId"/>
		<result column="user_pw" property="userPw"/>
		<result column="user_name" property="userName"/>
	</resultMap> -->
	
	<select id="login" resultType="com.ssafy.demo.model.dto.MemberDto">
		select *
		from member
		where member_id = #{id} and password = #{pw}
	</select>

</mapper>