<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ad" class="com.ssafy.ws.Audience">
		<constructor-arg ref="ac"></constructor-arg>
	</bean>
	
	<bean id="ac" class="com.ssafy.ws.Action"></bean>
	<bean id="co" class="com.ssafy.ws.Comic"></bean>
</beans>